<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Создать резюме</title>
</head>

<body>
    <header>

    </header>
    <main>
        <div class="title_wrapper">
            <h2 class="title">Создать резюме</h2>
        </div>
        <div class="form_wrapper">
            <form action="/createCv" class="form" method="POST">
                <div class="title_wrapper">
                    <h2 class="title">Контактные данные</h2>
                </div>
                <div class="input_wrapper">
                    <label for="" class="input_label">Имя</label>
                    <input type="text" class="input">
                </div>
                <div class="input_wrapper">
                    <label for="" class="input_label">Фамилия</label>
                    <input type="text" class="input">
                </div>
                <div class="input_wrapper">
                    <label for="" class="input_label">Город проживания</label>
                    <input type="text" class="input">
                </div>
                <div class="title_wrapper">
                    <h2 class="title">Основная информация</h2>
                </div>
                <div class="input_wrapper">
                    <label for="" class="input_label"></label>
                    <input type="text" class="input">
                </div>
            </form>
        </div>
    </main>
</body>

</html>